@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
}
.animate-bounce {
    animation: bounce 1s ease-in-out infinite;
    -webkit-animation: bounce 1s ease-in-out infinite;
}
.delay-100ms {
    animation-delay: 100ms;
}
.delay-200ms {
    animation-delay: 200ms;
}
.delay-300ms {
    animation-delay: 300ms;
}
.delay-400ms {
    animation-delay: 400ms;
}
.delay-500ms {
    animation-delay: 500ms;
}
